<div class="oj-flex oj-flex-items-pad oj-web-applayout-max-width">
    <div class="oj-flex-item">
        <h1>Home</h1>
    </div>
</div>
<div class="oj-flex oj-flex-items-pad oj-web-applayout-max-width">
    <div class="oj-flex-item oj-sm-12 oj-md-6">
        <div class="oj-panel">
            <h1 class="oj-header-border">Edit Countries</h1>
            <div class="oj-form-layout">
                <div class="oj-form">
                    <oj-label for="countryId">Country Id</oj-label>
                    <oj-input-text id="countryId" value="{{countryId}}"></oj-input-text>

                    <oj-label for="countryName">Country Name</oj-label>
                    <oj-input-text id="countryName" value="{{countryName}}"></oj-input-text>
                </div>
            </div>
            <oj-button on-click="[[add]]">Add Country</oj-button>
        </div>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-6">
        <div class="oj-panel">
            <oj-table data="{{countriesDataSource}}"
            summary="Countries"
            columns='[{"headerText": "Country Id",   "field": "id"},
                      {"headerText": "Country Name", "field": "name"},
                      {"headerText": "Action"}]'
            row-renderer="[[oj.KnockoutTemplateUtils.getRenderer('rowTemplate', true)]]"
            selection-mode.row="single"
            on-selection-changed="[[selected]]"
            ></oj-table>
        </div>
    </div>
</div>

<script type="text/html" id="rowTemplate">
    <tr>
        <td data-bind="text: id"></td>
        <td data-bind="text: name"></td>
        <td><a href="#" data-bind="click: $parent.remove"><span class="fa fa-trash"></span></a></td>
    </tr>
</script>
